<?xml version="1.0" ?>
<robot name="arctos" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find arctos)/urdf/joint_link.xacro"/>

  <ros2_control name="arctos" type="system">
    <hardware>
      <plugin>arctos/RobotSystem</plugin>
    </hardware>

    <xacro:arctos_control
      name="X_joint"
      limit_u="${pi}" limit_l="${-pi}"
    />
    <xacro:arctos_control
      name="Y_joint"
      limit_u="2.18" limit_l="-0.96"
    />
    <xacro:arctos_control
      name="Z_joint"
      limit_u="${70/180*pi}" limit_l="${-pi/2}"
    />
    <xacro:arctos_control
      name="A_joint"
      limit_u="${pi}" limit_l="${-pi}"
    />
    <xacro:arctos_control
      name="B_joint"
      limit_u="1.55" limit_l="-1.55"
    />
    <xacro:arctos_control
      name="C_joint"
      limit_u="${pi}" limit_l="${-pi}"
    />
  </ros2_control>

</robot>
